body {
    margin: 0;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    color: #454545;
}

h1 {
    margin: 50px auto;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    color: #93B7BE;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    color: #93B7BE;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Lobster', cursive;
    color: #456B73;
}

p {
    line-height: 2;
}


hr {
    border: 10px dotted #8D6875;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
   color:#93B7BE;
   font-family: 'Ubuntu Mono', monospace;
   margin: 10px 20px;
   text-decoration: none;
}

a:hover {
    color: #F1FFFA;
    text-decoration: underline;
    text-decoration-color: #8D6875;

}

.top-container {
    background-color: #454545;
    position: relative;
    padding-top: 100px;
    height: 500px;
    overflow: hidden;
}

/* 
IDEA: add hover effects of stuff spinning, rotating, or transforming to explode
Idea: stars always slightly twinkle throbbing.... gif?
IDEA: look into scroll effects to add comets, alients, etc as you move down.
IDEA: add telescope and space to the bottom, too 
*/

.moon  {
    position: absolute;
    top: 40px;
    right: 150px;
    height: 80px;
    width: 80px;
}

.blackhole {
    position: absolute;
    top: 40px;
    left: 350px;
    height: 35px;
    width: 35px;
    animation: rotateSystem 5000ms linear infinite;
}

@keyframes rotateSystem {
        from   {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
  }


.satellite {
    position: absolute; 
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    animation: orbit 4s ease-in-out infinite;
}

@keyframes orbit {
    0%   {top: 75%; right: 20%; z-index: 0}
    50% {top: 75%; right: 80%; z-index: 0}
    51% {top: 75%; right: 80%; z-index: 1}
    100% {top: 75%; right: 20%; z-index: 1}
}

.spaceship {
    position: absolute; 
    z-index: 1;
    top: 80%;
    left: 40%;
    height: 75px;
    width: 75px;
    transform: rotate(305deg);
    animation: spaceFlight 3s ease-in 1 forwards;

}

@keyframes spaceFlight  {
    from  {top: 80%; left: 40%;}
    to {top: 10%; left: -10%; display: none}
  }

.earth {
      z-index: 1;
      position: relative;
  }

.greeting-title {
    font-size: 1.5rem;
    font-weight: normal;
    color: #93B7BE;
    padding-bottom: 10px;
}



.profile-image {
    width: 10%;
    border-radius: 50%;
    margin: 50px 0 0 0;
}

.intro {
    width: 50%;
    margin: auto;

}



.skill-row {
    width: 75%;
    margin: 50px auto; 
    text-align: left;
}



.code-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.edu-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}



.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}


.ufo {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    animation: ufoOrbit 1s ease-in-out infinite alternate;
}


@keyframes ufoOrbit {
    0%   {right: 46px}
    100% {right: -46px}
}


.bottom-container {
    background-color: #454545;
    padding: 50px 0 20px;
    margin: 100px 0 0 0;
}

.copyright {
    color: #EAf6f6;
    font-size: .75rem;
    padding: 20px;
}

.btn {
    background: #93B7BE;
    background-image: -webkit-linear-gradient(top, #93B7BE, #456B73);
    background-image: -moz-linear-gradient(top, #93B7BE, #456B73);
    background-image: -ms-linear-gradient(top, #93B7BE, #456B73);
    background-image: -o-linear-gradient(top, #93B7BE, #456B73);
    background-image: linear-gradient(to bottom, #93B7BE, #456B73);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Ubuntu Mono', monospace;
    color: #F1FFFA;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    animation: ufoOrbit 1s ease-in-out infinite alternate;
  }
  
  .btn:hover {
    background: #B3CCD1;
    background-image: -webkit-linear-gradient(top, #B3CCD1, #5C8F99);
    background-image: -moz-linear-gradient(top, #B3CCD1, #5C8F99);
    background-image: -ms-linear-gradient(top, #B3CCD1, #5C8F99);
    background-image: -o-linear-gradient(top, #B3CCD1, #5C8F99);
    background-image: linear-gradient(to bottom, #B3CCD1, #5C8F99);
    text-decoration: none;
  }


  .blinking-cursor {
    font-weight: 100;
    font-size: 2rem;
    color: #93B7BE;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
        
        @keyframes "blink" {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        
        @-moz-keyframes blink {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        
        @-webkit-keyframes "blink" {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        
        @-ms-keyframes "blink" {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        
        @-o-keyframes "blink" {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        

