body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
    color: #454545;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Press Start 2P', cursive; */


h1 {
    margin: 50px auto;
    font-size: 1.8rem;
    font-family: 'Press Start 2P', cursive;
    color: #93B7BE;
}


h2 {
    font-size: 1.1em;
    font-family: 'Press Start 2P';
    font-weight: normal;
    color: #93B7BE;
    line-height: 1.1;
    padding-bottom: 15px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif, cursive, bold;
    font-size: 1.1rem;
    color: #456B73;
}

h4 {
    font-family: 'Montserrat', sans-serif, cursive;
    font-size: 1.5rem;
    color: #456B73;
}

p {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: normal;
    color: #474747;
    padding-bottom: 5px;
    margin: auto;
}


hr {
    border: 10px dotted #8D6875;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


a {
   color: #93B7BE;
   font-family: 'Montserrat', sans-serif, monospace, bold;
   /* margin: 10px 20px; */
   text-decoration: none;
}

a:hover {
    color: #93B7BE;
    text-decoration: underline;
    text-decoration-color: #8D6875;

}

.mirror {
    display: inline-block; 
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }


.top-container {
    background-color: #454545;
    position: relative;
    padding-top: 100px;
    height: 500px;
    overflow: hidden;
}

.about-container {
    text-align: center;
    margin: 0 25%;
}

.space-container {
    text-align: left;
    margin: 0 10%;
}

.section-divider {
    text-align: center;
    padding-bottom: 10px;
}

.breathwork-container {
    text-align: left;
    margin: 0 10% 0 10%;
}

.projects-container {
    text-align: left;
    margin: 0 10% 0 10%;
}


.contact-container {
    width: 75%;
    text-align: center;
    margin: auto;
}


.bottom-container {
    background-color: #454545;
    padding: 50px 0 20px;
    margin: 100px 0 0 0;
    text-align: center;
}



/* 
IDEA: add hover effects of stuff spinning, rotating, or transforming to explode
Idea: stars always slightly twinkle throbbing.... gif?
IDEA: look into scroll effects to add comets, alients, etc as you move down.
IDEA: add telescope and space to the bottom, too 
*/

.moon  {
    position: absolute;
    top: 40px;
    right: 150px;
    height: 80px;
    width: 80px;
}

.blackhole {
    position: absolute;
    top: 40px;
    left: 350px;
    height: 35px;
    width: 35px;
    animation: rotateSystem 5000ms linear infinite;
}

@keyframes rotateSystem {
        from   {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
  }


.satellite {
    position: absolute; 
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    animation: orbit 4s ease-in-out infinite;
}

@keyframes orbit {
    0%   {top: 75%; right: 10%; z-index: 0}
    50% {top: 75%; right: 80%; z-index: 0}
    51% {top: 75%; right: 80%; z-index: 1}
    100% {top: 75%; right: 10%; z-index: 1}
}

.spaceship {
    position: absolute; 
    z-index: 1;
    top: 80%;
    left: 40%;
    height: 75px;
    width: 75px;
    transform: rotate(330deg);
    animation: spaceFlight 3s ease-in 1 forwards;

}

@keyframes spaceFlight  {
    from  {top: 80%; left: 40%;}
    to {top: -15%; left: -15%; display: none}
  }

.earth {
      z-index: 1;
      position: relative;
  }

.greeting-title {
    font-size: 1.5rem;
    font-weight: normal;
    color: #93B7BE;
    padding-bottom: 0px;
}




.profile-image {
    width: 15%;
    margin: 50px 0 0 0;
}


.skill-row {
    width: 75%;
    margin: auto; 
    text-align: left;
}


.subpoint {
    margin: 10px 0 0 0;
}

.code-image {
    width: 40px;
    float: left;
    margin-right: 30px;
    border-radius: 25px;
    border: 2px solid #456B73;
}


.module-image {
    width: 5%;
    border: 2px solid #456B73;
}

.self-image {
    display: block;
    width: 100%;
    margin: 15px auto 60px auto;
}


.sample-image {
    display: block;
    width: 70%;
    margin: 15px auto 60px auto;
    }

@media (max-width: 600px) {
    .sample-image {
        width: 100%;
    }
    .self-image {
        width: 100%;
    }
    .profile-image {
        width: 40%;
    }
}


.ufo {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    animation: ufoOrbit 1.5s ease-in-out infinite alternate;
}


@keyframes ufoOrbit {
    0%   {right: 46px}
    100% {right: -46px}
}




.embed-ModuleContainer {
    position: relative;
    padding-bottom: 70.75%;
    height: 0;
    overflow: hidden;
    }
    .embed-ModuleContainer iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.copyright {
    color: #EAf6f6;
    font-size: .75rem;
    padding: 20px;
}

.btn {
    background: #93B7BE;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 12px;
    font-family: 'Ubuntu Mono', monospace;
    color: #F1FFFA;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    animation: ufoOrbit 1s ease-in-out infinite alternate;
  }
  
  .btn:hover {
    background:#454545;
    /* background-image: -webkit-linear-gradient(top, #B3CCD1, #5C8F99);
    background-image: -moz-linear-gradient(top, #B3CCD1, #5C8F99);
    background-image: -ms-linear-gradient(top, #B3CCD1, #5C8F99);
    background-image: -o-linear-gradient(top, #B3CCD1, #5C8F99);
    background-image: linear-gradient(to bottom, #B3CCD1, #5C8F99); */
    color: #F1FFFA;
    text-decoration: none;
  }


  .blinking-cursor {
    font-weight: 100;
    font-size: 1.5rem;
    color: #93B7BE;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
        
        @keyframes "blink" {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        
        @-moz-keyframes blink {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        
        @-webkit-keyframes "blink" {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        
        @-ms-keyframes "blink" {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        
        @-o-keyframes "blink" {
            from, to {
            color: transparent;
            }
            50% {
            color: #93B7BE;
            }
        }
        

